body {
  /* width: 95%; */
  background-color: #131927;
}
#navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* padding: 0px 30px; */
  background-color: #131927;
  color: white;
}
#navbar > div:first-child > img {
  cursor: pointer;
  height: 30px;
}
#navbar > div:first-child > img:nth-child(2) {
  width: 150px;
  cursor: pointer;
}

#navbar button {
  border: none;
  background-color: transparent;
  font-size: 17px;
  color: white;
  cursor: pointer;
}
#navbar > div {
  /* border: 1px solid red; */
  margin: 0px 30px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar input {
  width: 280px;
  border: none;
  border-bottom: 1px solid;
  color: white;
  background-color:black;
}

#carousel img {
  width: 100%;
  height: 500px;
  width: 100%;
  /* position: fixed; */
}

#loader{
  /* border: 1px solid red; */
  margin: auto;
 text-align: center;
  height: 500px;
  /* position: fixed; */
  display: absolute;
 }
 #loader>img{
     height: 300px;
 }

#movies {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 60px;
}
#movies > div {
  text-align: center;
  /* border: 1px solid red; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 450px;
  background-color: white;
  border-radius: 19px;
}
#movies > div > img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}

#sort-lh,
#sort-hl {
  padding: 5px 20px;
  margin-top: 30px;
  margin-left: 30px;
  border: none;
  background-color: #e91e62;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border-radius: 9px;
  cursor: pointer;
}
#sort-lh:hover,
#sort-hl:hover {
  color: rgb(140, 0, 255);
}

/* loggng inn  */

#login {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  width: 30%;
  margin: auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgb(155, 21, 189);
  padding: 10px 0px;
  border-radius: 17px;
  display: none;
}
#form {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  text-align: left;
}
#form > input {
  margin-bottom: 18px;
  margin-top: 5px;
  height: 35px;
  border-radius: 9px;
  border: none;
}
#form > button {
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  background-color: #131927;
  color: aliceblue;
  cursor: pointer;
}
#not_acc {
  color: aliceblue;
  cursor: pointer;
}
#not_acc:hover {
  color: #131927;
  text-decoration: underline;
}

/* signin  */
#signin {
  position: absolute;
  left: 50%;
  width: 30%;
  margin: auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background-color: rgb(155, 21, 189);
  padding: 10px 0px;
  border-radius: 17px;
  display: none;
}
#signin > form {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  text-align: left;
}
#signin > form > input {
  margin-bottom: 18px;
  margin-top: 5px;
  height: 35px;
  border-radius: 9px;
  border: none;
}
#signin > form > input:nth-last-child(1) {
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 9px;
  border: none;
  background-color: #131927;
  color: aliceblue;
  /* cursor: pointer; */
}
#acc {
  color: aliceblue;
  cursor: pointer;
}
#acc:hover {
  color: #131927;
  text-decoration: underline;
  
}


#infodiv{
  width: 15%;
  height: 150px;
  text-align: center;
  position: absolute;
  /* top: 16%; */
  right: 2%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
background-color: rgb(155, 21, 189);
margin: auto;
display: none;
}

#infodiv button{
  padding: 6px 15px;
  width: 70%;
  margin-top: 12px;
  font-weight: bold;
  background-color: #131927;
  color: aliceblue;
  cursor: pointer;
  border-radius: 9px;
}
#infodiv button:hover{
  color: rgb(155, 21, 189);
}
#infodiv>p{
  text-align: right;
  font-size: 19px;
  color: white;
  margin-top: 11px;
  margin-bottom: 0px;
  margin-right: 16px;
}
#infodiv>p:hover{
  color: black;
  cursor: pointer;
}